@import url("https://fonts.googleapis.com/css?family=Cairo");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("https://use.typekit.net/wwo1tvs.css");

$font_main: "Montserrat", sans-serif;
$font_title: citizen, sans-serif;
$font_subtitle: "Cairo", sans-serif;

$main_brown: #ecbd8b;
$main_grey: #b0b5b5;
$main_complementary: #768c99;

$main_grain: #d7cec7;
$main_black: #565656;
$main_brown: #c09f80;
